---
layout: displayindex
title: Posts Index
---

<h1>{{ page.title }}</h1>
<dl class="posts"></dl>
	{% for post in site.posts%}
	{% assign date = post.date | date: '%Y-%m-%d' %}
    {% assign ndate = post.next.date | date: '%Y-%m-%d' %}
	{% if date != ndate %}
	<h2 id="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</h2>
	{% endif %}
	<dt>
		<code>{{ post.date | date: '%Y-%m-%d' }}</code> <i class="fas fa-angle-double-right"></i> <a
			href="{{ post.url }}">{{ post.title }}</a>&nbsp;
		{% include status-indicator.html status=post.status%}
	</dt>
	{% if post.description %}
	<dd style="text-align: justify">{{ post.description  | markdownify }}
	</dd>
	{% endif %}

	{% endfor %}
</dl>